extends ../layout/layout

block content
    h1.text-center 
        span WELCOME
        span &emsp;
        span=user.name
    .col-sm-12
        form(action='/user/search',method = 'POST')
            .form-group.row
                input(type='text',name='query',placeholder="What do you want to find?").form-control.col-sm-10
                .col-sm-2
                    button(type='submit').btn.btn-primary
                        svg.bi.bi-search(width='1.5em', height='1.5em', viewbox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd', d='M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z')
                            path(fill-rule='evenodd', d='M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z')
    .card.border-dark.mt-5
        .card-header
            .row
                .col-sm-5
                    h5.card-subtitle=user.name
                .col-sm-4
                .col-sm-3.row
                    label(for="school").col-sm-3.mt-1 FOR
                    input(type="text",placeholder="DUT?").form-control.col-sm-9#school
        .card-body
            .row
                .col-sm-12
                    textarea(rows="5",placeholder="How are you today?").form-control
            p
            .row
                .col-sm-10
                .col-sm-2
                    button.btn.btn-info POST                                
    if list
        each con in list
            div.card.border-dark.mt-5
                .card-header
                    .row
                        .col-sm-5
                            h5.card-subtitle
                                span User:
                                span &emsp;
                                span=con.name
                            h5.card-subtitle.mt-1
                                span Date:
                                span &emsp;
                                span=con.time_post
                        .col-sm-3
                        .col-sm-2.text-right
                            h4.card-subtitle.mt-1=con.id_school
                div.card-body
                    p                       
                    .row.card-text
                        .col-sm-12
                            p=con.content
                    p
                    .row
                        .col-sm-10
                        .col-sm-2
                            button.btn.btn-info Comment
    include ../layout/footer.pug